*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: url(BG2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .BlackHeart{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a {
    font-size: 16;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: rgb(59,174,209);

}

.info{
    margin-left: 7%;
    margin-top: 6%;
    color: wheat;

}

.info h1{
    font-size: 65px;

}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;

}

.image{
    width: 20%;
    height: 70%;
    position: absolute;
    right: 100px;
    bottom: 0%;

}

.image img{
    position: relative;
    height: 90%;
    left: 70%;
    right: 100%;
    transform: translate(-60%);
    bottom: 0;
}